@page "/dailyActivityRecord/{StudentId:int}"

<h3>New Activity Record for @student.Name</h3>


<div class="form-group">
    <label for="activityDate">Date:</label>
    <button class="btn btn-secondary" type="button" @onclick="PrevDay" disabled="@TooFarInThePast()">
        <i class="oi oi-media-skip-backward"></i>
    </button>
    <input type="text" @bind="GroupActivityDate" disabled id="activityDate" />
    <button class="btn btn-secondary" type="button" @onclick="NextDay" disabled="@TooFarInTheFuture()">
        <i class="oi oi-media-skip-forward"></i>
    </button>
    @if (TooFarInThePast() || TooFarInTheFuture())
    {
        <small id="classActivityHelp" class="form-text text-muted">Can only record for up to a week in the past or future.</small>
    }
</div>

<div class="form-group">
    <label for="activityTime">Time:</label>
    <button class="btn btn-secondary" type="button" @onclick="FifteenMinPrior" disabled="@TooFarInThePast()">
        <i class="oi oi-media-skip-backward"></i>
    </button>
    <input type="text" @bind="GroupActivityTime" disabled id="activityTime" />
    <button class="btn btn-secondary" type="button" @onclick="FifteenMinFwd" disabled="@TooFarInTheFuture()">
        <i class="oi oi-media-skip-forward"></i>
    </button>
</div>
Time
Adjust or Now

Wet diaper
Dirty diaper

Ate half of breakfast
Ate very little breakfast
Refused breakfast

Ate half of lunch
Ate very little lunch
Refused lunch


Ate half of snack
Ate very little snack
Refused snack

Need wipes
Need diapers
Need diaper cream

Event coming up
Message field
