@page "/dailyActivityRecord/{StudentId:int}"

<h3>New Activity Record for @student.Name</h3>


<div class="form-group">
    <label for="activityDate">Date:</label>
    <button class="btn btn-secondary" type="button" @onclick="PrevDay" disabled="@TooFarInThePast()" style="margin-left:41px;">
        <i class="oi oi-media-skip-backward"></i>
    </button>
    <input type="text" @bind="GroupActivityDate" disabled id="activityDate" />
    <button class="btn btn-secondary" type="button" @onclick="NextDay" disabled="@TooFarInTheFuture()">
        <i class="oi oi-media-skip-forward"></i>
    </button>
    @if (TooFarInThePast() || TooFarInTheFuture())
    {
        <small id="classActivityHelp" class="form-text text-muted">Can only record for up to a week in the past or future.</small>
    }
</div>

<div class="form-group">
    <label for="activityTime">Time:</label>
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(-15)" disabled="@TooFarInThePast()">
        <i class="oi oi-media-skip-backward"></i>
    </button>
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(-5)" disabled="@TooFarInThePast()">
        <i class="oi oi-caret-left"></i>
    </button>
    <input type="text" @bind="GroupActivityTime" disabled id="activityTime" />
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(5)" disabled="@TooFarInThePast()">
        <i class="oi oi-caret-right"></i>
    </button>
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(15)" disabled="@TooFarInTheFuture()">
        <i class="oi oi-media-skip-forward"></i>
    </button>
    <button class="btn btn-dark" @onclick="ResetDate">Now</button>
</div>
<div class="form-group">
    <h4>Proposed message:</h4>
    @ProposedMessage
</div>

<div class="flex">
    @if (selectedMessages.Any(x => x.Code == 10))
    {
    <button class="btn btn-warning" type="button" @onclick="() => AdjustMessage(10)">
        <i class="fas fa-poop fa-2x"></i>&nbsp;Dirty diaper
    </button>
    }
    else
    {
    <button class="btn btn-primary" type="button" @onclick="() => AdjustMessage(10)">
        <i class="fas fa-poop fa-2x"></i>&nbsp;Dirty diaper
    </button>
    }
    @if (selectedMessages.Any(x => x.Code == 11))
    {
        <button class="btn btn-warning" type="button" @onclick="() => AdjustMessage(11)">
            <i class="fas fa-water fa-2x"></i>&nbsp;Wet diaper
        </button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick="() => AdjustMessage(11)">
            <i class="fas fa-water fa-2x"></i>&nbsp;Wet diaper
        </button>
    }
    @if (selectedMessages.Any(x => x.Code == 12))
    {
        <button class="btn btn-warning" type="button" @onclick="() => AdjustMessage(12)">
            <i class="far fa-times-circle fa-2x"></i>&nbsp;Clean diaper
        </button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick="() => AdjustMessage(12)">
            <i class="far fa-times-circle fa-2x"></i>&nbsp;Clean diaper
        </button>
    }
</div>
<div class="flex">
    @if (selectedMessages.Any(x => x.Code == 21))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(21)'><i class="far fa-thumbs-down fa-2x"></i>&nbsp;Refused breakfast</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(21)'><i class="far fa-thumbs-down fa-2x"></i>&nbsp;Refused breakfast</button>
    }
    @if (selectedMessages.Any(x => x.Code == 22))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(22)'><i class="far fa-circle fa-2x"></i>&nbsp;Ate very little breakfast</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(22)'><i class="far fa-circle fa-2x"></i>&nbsp;Ate very little breakfast</button>
    }

    @if (selectedMessages.Any(x => x.Code == 23))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(23)'><i class="fas fa-star-half-alt fa-2x"></i>&nbsp;Ate half of breakfast</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(23)'><i class="fas fa-star-half-alt fa-2x"></i>&nbsp;Ate half of breakfast</button>
    }

</div>
<div class="flex">
    @if (selectedMessages.Any(x => x.Code == 33))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(33)'><i class="fas fa-star-half-alt fa-2x"></i>&nbsp;Ate half of lunch</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(33)'><i class="fas fa-star-half-alt fa-2x"></i>&nbsp;Ate half of lunch</button>
    }
    @if (selectedMessages.Any(x => x.Code == 31))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(31)'><i class="far fa-thumbs-down fa-2x"></i>&nbsp;Refused lunch</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(31)'><i class="far fa-thumbs-down fa-2x"></i>&nbsp;Refused lunch</button>
    }
    @if (selectedMessages.Any(x => x.Code == 32))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(32)'><i class="far fa-circle fa-2x"></i>&nbsp;Ate very little lunch</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(32)'><i class="far fa-circle fa-2x"></i>&nbsp;Ate very little lunch</button>
    }
</div>
<div class="flex">
    @if (selectedMessages.Any(x => x.Code == 41))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(41)'><i class="far fa-thumbs-down fa-2x"></i>&nbsp;Refused snack</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(41)'><i class="far fa-thumbs-down fa-2x"></i>&nbsp;Refused snack</button>
    }
    @if (selectedMessages.Any(x => x.Code == 42))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(42)'><i class="far fa-circle fa-2x"></i>&nbsp;Ate very little snack</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(42)'><i class="far fa-circle fa-2x"></i>&nbsp;Ate very little snack</button>
    }
    @if (selectedMessages.Any(x => x.Code == 43))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(43)'><i class="fas fa-star-half-alt fa-2x"></i>&nbsp;Ate half of snack</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(43)'><i class="fas fa-star-half-alt fa-2x"></i>&nbsp;Ate half of snack</button>
    }
</div>
<div class="flex">
    @if (selectedMessages.Any(x => x.Code == 51))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(51)'><i class="fas fa-battery-empty fa-2x"></i>&nbsp;No nap</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(51)'><i class="fas fa-battery-empty fa-2x"></i>&nbsp;No nap</button>
    }
    @if (selectedMessages.Any(x => x.Code == 52))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(52)'><i class="fas fa-battery-quarter fa-2x"></i>&nbsp;Slept 30 min</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(52)'><i class="fas fa-battery-quarter fa-2x"></i>&nbsp;Slept 30 min</button>
    }
    @if (selectedMessages.Any(x => x.Code == 53))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(53)'><i class="fas fa-battery-half fa-2x"></i>&nbsp;Slept 1 hour</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(53)'><i class="fas fa-battery-half fa-2x"></i>&nbsp;Slept 1 hour</button>
    }
    @if (selectedMessages.Any(x => x.Code == 54))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(54)'><i class="fas fa-battery-three-quarters fa-2x"></i>&nbsp;Slept 1.5 hours</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(54)'><i class="fas fa-battery-three-quarters fa-2x"></i>&nbsp;Slept 1.5 hours</button>
    }
</div>
<div class="flex">
    @if (selectedMessages.Any(x => x.Code == 61))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(61)'><i class="fas fa-toilet-paper-slash fa-2x"></i>&nbsp;Need wipes</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(61)'><i class="fas fa-toilet-paper-slash fa-2x"></i>&nbsp;Need wipes</button>
    }
    @if (selectedMessages.Any(x => x.Code == 62))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(62)'><i class="fas fa-paint-brush fa-2x"></i>&nbsp;Need diaper cream</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(62)'><i class="fas fa-paint-brush fa-2x"></i>&nbsp;Need diaper cream</button>
    }
    @if (selectedMessages.Any(x => x.Code == 63))
    {
        <button class="btn btn-warning" type="button" @onclick='() => AdjustMessage(63)'><i class="fas fa-baby fa-2x"></i>&nbsp;Need diapers</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick='() => AdjustMessage(63)'><i class="fas fa-baby fa-2x"></i>&nbsp;Need diapers</button>
    }
</div>
<br />
<br />

Now
Event coming up
Message field
