@page "/dailyActivityRecord/{StudentId:int}"

<h3>New Activity Record for @student.Name</h3>


<div class="form-group">
    <label for="activityDate">Date:</label>
    <button class="btn btn-secondary" type="button" @onclick="PrevDay" disabled="@TooFarInThePast()" style="margin-left:41px;">
        <i class="oi oi-media-skip-backward"></i>
    </button>
    <input type="text" @bind="GroupActivityDate" disabled id="activityDate" />
    <button class="btn btn-secondary" type="button" @onclick="NextDay" disabled="@TooFarInTheFuture()">
        <i class="oi oi-media-skip-forward"></i>
    </button>
    @if (TooFarInThePast() || TooFarInTheFuture())
    {
        <small id="classActivityHelp" class="form-text text-muted">Can only record for up to a week in the past or future.</small>
    }
</div>

<div class="form-group">
    <label for="activityTime">Time:</label>
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(-15)" disabled="@TooFarInThePast()">
        <i class="oi oi-media-skip-backward"></i>
    </button>
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(-5)" disabled="@TooFarInThePast()">
        <i class="oi oi-caret-left"></i>
    </button>
    <input type="text" @bind="GroupActivityTime" disabled id="activityTime" />
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(5)" disabled="@TooFarInThePast()">
        <i class="oi oi-caret-right"></i>
    </button>
    <button class="btn btn-secondary" type="button" @onclick="() => ChangeMinutes(15)" disabled="@TooFarInTheFuture()">
        <i class="oi oi-media-skip-forward"></i>
    </button>
    <button class="btn btn-dark">Now</button>
</div>
<div class="flex">
    @if (selectedMessages.ContainsKey(10))
    {
        <button class="btn btn-warning" type="button" @onclick="() => RemoveMessage(10)">
            <i class="oi oi-trash"></i>Dirty diaper
        </button>
    }
    else
    {
        <button class="btn btn-primary" type="button" @onclick="() => SaveMessage(10)">
            <i class="oi oi-trash"></i>Dirty diaper
        </button>
    }
    <button class="btn btn-primary" type="button" @onclick="() => SaveMessage(11)">
        <i class="oi oi-rain"></i>Wet diaper
    </button>
    <button class="btn btn-primary" type="button" @onclick="() => SaveMessage(12)">
        <i class="oi oi-sun"></i>Clean diaper
        <i class="fas fa-plus"></i>
    </button>
</div>
<div class="flex">
    <button class="btn btn-primary" type="button" @onclick='() => SaveMessage(20)'>Ate all breakfast</button>
    <button class="btn btn-primary" type="button" @onclick='() => SaveMessage(21)'>Refused breakfast</button>
    <button class="btn btn-primary" type="button" @onclick='() => SaveMessage(22)'>Ate very little breakfast</button>
    <button class="btn btn-primary" type="button" @onclick='() => SaveMessage(23)'>Ate half of breakfast</button>
</div>
<div class="flex">
    <button class="btn btn-primary" type="button">Ate all lunch</button>
    <button class="btn btn-primary" type="button">Refused lunch</button>
    <button class="btn btn-primary" type="button">Ate very little lunch</button>
    <button class="btn btn-primary" type="button">Ate half of lunch</button>
</div>
<div class="flex">
    <button class="btn btn-primary" type="button">Ate all snack</button>
    <button class="btn btn-primary" type="button">Refused snack</button>
    <button class="btn btn-primary" type="button">Ate very little snack</button>
    <button class="btn btn-primary" type="button">Ate half of snack</button>
</div>
<div class="flex">
    <button class="btn btn-primary" type="button">No nap</button>
    <button class="btn btn-primary" type="button">Slept 30 min</button>
    <button class="btn btn-primary" type="button">Slept 1 hour</button>
    <button class="btn btn-primary" type="button">Slept 1.5 hours</button>
    <button class="btn btn-primary" type="button">Slept well</button>
</div>
<div class="flex">
    <button class="btn btn-primary" type="button">Need wipes</button>
    <button class="btn btn-primary" type="button">Need diaper cream</button>
    <button class="btn btn-primary" type="button">Need diapers</button>
</div>
<br />
<br />

Now
Event coming up
Message field
