@page "/roomDetails/{RoomId:int}"

<h2>Details for Room "@thisRoom.Name"</h2>
@if (thisRoom.Description?.Length > 0)
{
    <h3>Description: @thisRoom.Description</h3>
}

@if (thisRoom.MaxCapacity > 0)
{
    <h3>Maximum Capacity: @thisRoom.MaxCapacity</h3>
}

<h4>Assigned Teachers</h4>
@if (thisRoom.Teachers.Any())
{
    <ul>
        @foreach (BlazorApp1.Shared.Models.Person p in thisRoom.Teachers)
        {
            <li>
                @p.ForDisplay();
            </li>
        }
    </ul>
}

<h4>Assigned Students:</h4>
@if (thisRoom.Students.Any())
{
    <ul>
        @foreach (BlazorApp1.Shared.Models.Person p in thisRoom.Students)
        {
            <li>
                @p.ForDisplay();
            </li>
        }
    </ul>
}
