@page "/rooms"
@page "/rooms/{RoomNumber:int}"
@using BlazorApp1.Shared.Models

<h3>Rooms</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Room Name</th>
            <th scope="col">Max Capacity</th>
            <th scope="col">Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Room r in rooms)
        {
            <tr>
                <th scope="row">@r.Id</th>
                <td>@r.Name</td>
                <td>@r.MaxCapacity</td>
                <td>@r.Description</td>
                <td>
                    <a href="@($"/rooms/{r.Id}")" class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<button type="button" @onclick="@ToggleNewRoomInterface" hidden="@showNewRoomUI">New Room</button>
<br /> 
@if (showNewRoomUI)
{
    <EditForm Model="@newRoom" OnValidSubmit="AddNewRoom" OnInvalidSubmit="InvalidSubmit">
        <div class="form-group">
            @if (ErrorMessage != null && ErrorMessage.Length > 0)
            {
                <div class="alert alert-warning" role="alert">
                    @ErrorMessage
                </div>
            }
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <label for="newName" class="col-sm-3">Name:</label>
                <InputText id="newName" class="form-control col-sm-8" @bind-Value="@newRoom.Name" />
            </div>

            <div class="form-group row">
                <label for="maxCapacity" class="col-sm-3">Maximum Capacity:</label>
                <InputNumber id="maxCapacity" class="form-control col-sm-8" @bind-Value="@newRoom.MaxCapacity" />
            </div>

            <div class="form-group row">
                <label for="description" class="col-sm-3">Description:</label>
                <InputTextArea id="description" class="form-control col-sm-8" @bind-Value="@newRoom.Description" />
            </div>

            <div class="form-group row">
                <button class="btn btn-warning" type="submit">Save</button>
                &nbsp;&nbsp;
                <button class="btn btn-warning" @onclick="Cancel" type="button">Cancel</button>
            </div>

        </div>
    </EditForm>
}
