@page "/studentRooms/"
@page "/studentRooms/{Id:int}"

<h3>Students</h3>
<span>Selected Room: @selectedRoom</span>
<span>Editing Id: @EditingThisId</span>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Student</th>
            <th scope="col">Room</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlazorApp1.Shared.Models.StudentRoom sr in allStudentRooms)
        {
            if (sr.Id == EditingThisId)
            {
                <tr>
                    <th scope="row">@sr.Id</th>
                    <td>@sr.Student.ForDisplay()</td>
                    <td>
                        <select class="form-control" style="width:250px;" @bind="@sr.Room.Id">
                            @foreach (BlazorApp1.Shared.Models.Room r in allRooms)
                            {
                                if (sr.Room.Id == r.Id)
                                {
                                    <option value="@sr.Room.Id" selected>@r.Name + 123</option>
                                }
                                else
                                {
                                <option value="@r.Id">@r.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-success" @onclick="() => SaveEdits(sr)">
                            <i class="oi oi-circle-check"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success" @onclick="() => CancelEdit()">
                            <i class="oi oi-circle-x"></i>
                        </button>
                    </td>
                    <td>
                        Record for @sr.Id (@sr.Room.ForDisplay() -- @sr.Student.ForDisplay()) is being edited
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">@sr.Id</th>
                    <td>@sr.Student.ForDisplay();</td>
                    <td>@sr.Room.ForDisplay()</td>
                    <td>
                        <a href="@($"/studentRooms/{sr.Id}")" class="btn btn-primary">
                            <i class="oi oi-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a href="" class="btn btn-primary">
                            <i class="oi oi-delete"></i>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => SetEditable(sr)">
                            <i class="oi oi-account-login"></i> Edit
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>