@page "/persons"
@page "/persons/{Id:int}"
@using BlazorApp1.Shared.Models

<div class="container">
    <div class="row">
        <div class="col-md-6"><h3>Users</h3></div>
        <div class="col-md-6">
            <div class="float-right">
                <button class="btn btn-success" type="button" @onclick="@ToggleNewUI" hidden="@showNewUI">
                    <i class="oi oi-plus"></i>&nbsp;New Person
                </button>
            </div>
        </div>
    </div>
</div>

@if (showNewUI)
{
    <EditForm Model="@newUser" OnValidSubmit="AddNewUser" OnInvalidSubmit="InvalidSubmit">
        <div class="form-group">
            @if (ErrorMessage != null && ErrorMessage.Length > 0)
            {
                <div class="alert alert-warning" role="alert">
                    @ErrorMessage
                </div>
            }
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <label for="newName" class="col-sm-3">Name</label>
                <InputText id="newName" class="form-control col-sm-8" @bind-Value="@newUser.Name" />
            </div>

            <div class="form-group row">
                <button class="btn btn-warning" type="submit">Save</button>
                &nbsp;&nbsp;
                <button class="btn btn-warning" @onclick="Cancel" type="button">Cancel</button>
            </div>
        </div>
    </EditForm>
}
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person u in personnel)
        {
            <tr>
                <th scope="row">@u.Id</th>
                <td>@u.Name</td>
                <td>
                    <a href="@($"/persons/{u.Id}")" class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </a>
                </td>
                <td>
                    <a href="" class="btn btn-primary">
                        <i class="oi oi-delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />